body{
  /* background: #f9f8ed; */
  color: #635d5d;
  font-family: 'Roboto', sans-serif;
  /* margin: 0; */
/* background-image: url('assets/code2.svg');
background-size: 60%;
background-repeat: no-repeat;
background-position: 100%; */
/* max-width: 100%; */
/* background-color: #f5f5f5; */
}

#background{
  position: absolute;
  top:-10;
  left: 40%;
  height:auto;
  z-index: -1;
  width: 60%;
  opacity: 0.25;
}
h1{
  font-weight: 100;
}
header{
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  /* text-align: center; */
  /* text-transform: uppercase;s */
  background:white;
  height:60px;
  vertical-align: middle;
  font-size: 22px;
  line-height: 30px;
  padding:15px;
  box-sizing: border-box;
  padding-left: 50px;
  font-weight: 500;
  /* color:#6a9c78; */
}
#promo{
  /* margin-top: 5px; */
  display: grid;
}
#benefits, #form{
  height: 100vh;
  /* text-align: right; */
  margin-left:100px;
  display: inline-flex;
}
#bens{
  /* width:50%;
  background: rgb(255,255,255, 0.8);
  margin-left: 60px;
  border-radius: 10px;
  padding: 50px; */
}
#script{
  height: 100vh;
  /* text-align: right; */
  margin-left:100px;
}
#left{
  margin-top: 50px;
  float: left;
  width: 70%;
  margin-left: 100px;
  height: 80vh;
}
.q{
  line-height: 10px !important;
  vertical-align:-webkit-baseline-middle;
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  margin-left: -5;
  padding-left: 0;
  width: 0;
  height: 0;
  margin-bottom:-5px;
  color: lightgreen;
}
#quotes{
  position:absolute;
  padding: 10px;
  color: rgb(100,150,100);
  /* font-style: italic; */
  top: 50px;
  font-weight: 100;
  right: 50px;
  background: rgb(255,255,255,0.8);
  border-radius: 10px;
  height: 200px;
  width: 400px;
  line-height: 30px;
  font-size:20px;
}
.card{
  display: inline-block;
  /* background: white; */
  border-radius: 10px;
  /* height: 400px; */
  width: 15%;
  margin-right: 4%;
  opacity: 1.9;
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); */
}
.card:hover{
  /* padding-top:20px; */
}
h1, h2, h3{
  font-weight: 100;
  width: 50%;
  /* color: white; */
  /* background: rgb(240,250,240,0.8); */
  padding:10px;
}
.arrow{
  width:50px; margin-bottom:150px; margin-left: -30px; margin-right:10px;
  opacity: 0.5;
}
#icons{
  /* float: left; */
  /* width: 400px; */
/* margin:0 auto; */
/* margin-left:-100px; */
width:100%;
padding: 20px;
/* background: rgb(230,240,230, 0.5); */
}
#sep{
  width:200px;
}
#devsep{
  width:400px;
}
#icon_des{
  display:block;
  width:200px;
}
.description{
  height: 200px;
  width: 100%;
}
.pic{
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 50%; */
  margin-left:50px;
  height: 300px;

}
h2{
  font-weight: 100;

}
.info_card{
  display: inline-flex;
  width: 47%;
  height: 35%;
  background: white;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.info_pic{
  /* display: flex; */
  /* display: flex; */ */
  height: 100%;
  border-radius: 5px;
  background: #93c47d;
  background: rgb(160,220,160, 0.5);
  width: 40%;
  margin: 0;
  box-sizing: border-box;
}
.info_text{
  display: table;
  height: 100%;
  /* line-height: 40px; */
  padding:10px;
  font-size:16px;
  font-weight: 100;
  width:50%;
  margin:0;
  box-sizing: border-box;
  padding-left: 30px;
}
.info_text_inner{
  display: table-cell;
  vertical-align: middle;
  color: rgb(50,50,50)
}
.pic_title{
  /* position: relative; */
  /* top: 80%; */
  /* left: 20%; */
  /* right: 40%; */
  /* width: 100%; */
  /* height: 100px; */
  /* width: 300px; */
  text-align: center;
  margin-top:4%;
  font-size: 20px;
  font-weight: 400;

}
.info_pic img{
  width:56%;
  margin-left: 22%;
  margin-top: 5%;
  /* opacity: 0.95; */
  vertical-align: top;
  /* filter: brightness(98%); */
}
#google{
  /* background: rgb(253,255,253, 0.8); */
  margin: 0 auto;
  /* margin-right: 10%; */
  margin-left: -3%;
  width: 100%;
  padding-top:40px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;

  border-radius: 20px;
  text-align: center;
}
.automation_process{
  width: 60%; float:right; max-height: 80vh; margin-right:5%;
}
#script{
  display:inline-block
}
#automate_title{
  width:30%;margin:0;margin-top:50px; margin-left:50px; background: rgb(230,240,230, 0.5);
}
#header{
  background: rgb(230,240,230, 0.5); width: 40%;
}
#subheader{
  background: rgb(230,240,230, 0.5); width: 15%;
}
#automation_sub{
  margin-left: 60px;font-weight: 100;text-align: left;margin-top:50px;line-height: 25px;
}
#automation_title_mobile{
  width:30%;margin:0;margin-top:50px; margin-left:50px; background: rgb(230,240,230, 0.5);
  display:none;
}
#regret{
  margin-right:-20%;
  background: rgb(230,240,230, 0.5); padding:10px 20px 10px 20px;
}
@media only screen and (max-width: 600px) {
  #automate_title{
    display: none;
  }
  #automation_title_mobile{
    display: inline;
    width:80%;
    margin-top:-30px;
    margin-bottom:60px;
    margin-left: 30px;
  }
  #regret{
    width:80%;
  }
  #icons{
    padding:0;
  }
  #automation_sub{
    margin-left:20px;
  }
  #benefits{
    margin-left: 0px;
  }
  #info_cards{
    height:600px;
    width:100% !important;
  }
  icons{}
    .info_text{
      width:100%;
      height:auto;
    }
    .info_text_inner{
      width:100% !important;
    }
  .info_card{
    width:100%;
    display:contents;
  }
  .info_pic{
    width:50%;
    text-align: left;

    padding:15px 20px;
    margin-top:0;
  }
  .info_pic img{
    margin-top:0;
    display:none;
  }
  .pic_title{
    margin-top: 0;
    text-align: left;
  }
  #subheader{
     width:40%;
  }
  #header{
    width:80%;
  }
  #automate_title{
    width:80%;
    margin-left: 20px;
  }
  #script{
    display: contents;
    width: calc(100% - 30px)
  }
  .automation_process{
    width:100%;

  }
  body {
    /* background-color: lightblue; */
    max-width: 100vw;
    overflow-x: hidden;
  }
  h1{
    font-size: 25px;
    font-weight: 400;
  }
  #quotes{
    font-size:10px;
    line-height: 10px;
    width: 50%;
    bottom:0;
    left:0;
    display: none;
  }
  #background{
    position: absolute;
    display: none;
    top:-10;
    left: 30%;
    object-fit: cover;
    /* right:-160%; */
    height: auto;
    z-index: -1;
    width: 200%;
    /* transform:scale(2); */
    opacity: 0.25;
  }
  #sep{
    /* width: 60%; */
  }
  #devsep{
    width:80%;
  }
  #promo{
    max-width:100%;
  }
  .card{
    width:49%;
    margin:0;
    /* margin-right: 2%; */
    height: auto;
  }
  .arrow{
    display: none;
  }
  #left,#benefits,#form,#script{
    margin-left: 30px;
    width: calc(100% - 10px);
    /* max-width: 80%; */
    height: 100vh;
    /* margin-bottom:80px; */
  }
  #benefits{
    margin-left:10px;
  }
  #icons{
    width:100%;
  }
  .pic{
  width:100%;
  margin-bottom:10px;
  height:auto;
  margin-left: 0px;
  }
}
