@media only screen and (max-width: 700px) {
  @keyframes moveLeft {
    from {
      margin-left:calc(200px);
      margin-right: -200px;

    }
    to {
      margin-right: 30px;
      margin-left:calc(30px);
    }
  }
  @keyframes moveRight {
    from {
      margin-left:-200px;
      margin-right:calc(200px);

    }
    to {
      margin-left:30px;
      margin-right:calc(30px);
    }
  }


  #desktop-menu-links{
    display: none;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 100%;
    margin-left: -10px;
    margin-top: -20px;
    padding-top:50px;
    background: rgb(255,255,255, 0.8);
  }

  #subtitle{
    font-size: 17px;
    padding:0 10%;
    box-sizing: border-box;
    /* max-width: 80%; */
  }
  .mini_icon{
    height: 15px;
  }
  #header{
    text-align: center;
    position: fixed;
    background: white !important;
  }
  #header_logo{
    margin-left:10px;
  }
  #header_logo_fixed{
    margin-left:10px;
  }
  #header a{
    font-size: 28px;
    margin: 35px 100px;
    /* display: none; */
    line-height: 69px;
    border-bottom: 5px solid orange;
    /* display: none; */
  }
  #background, #svg{
    height: 50%;
    opacity: 0.2;
    width:calc(100% - 20px);
    left:10px;
  }
  .samplebox{
    width: 80%;
    /* margin-left: 5%; */
    height: 100px;
    margin: 10px;
    position: unset;
    height: auto;
  }
  .samplebox .text{
    font-size: 12px;
    /* left: 0px; */
    text-align: center;
    width: 80%;
    margin-left:10%;
    margin-top: 40px;
    margin-bottom:10px;
    padding: 0;
    position: unset;
  }
  .icons{
    width: 100%;
  /* text-align: center; */
    /* position: absolute; */
    margin-top: 10px;
    left: 0;
    float: left;
    top: 0px;
  }


  .samplebox .icon{
    height:20px;
  }
  .section{
    padding: 0 30px;
  }
  .section h1{
    font-size: 20px;
  }
  .section p{
    font-size: 13px;
  }
  .section{
    max-width: 80%
  }
  .right button{
    margin-left:50%;
  }
  button{
      font-size: 14px;
  }
  #contact button{
    margin:0 2px;
  }
  #samples{
    margin: 50px 0;
    width: 100%;
  }
  #sub{
    padding:0;
  }
  .sectionicon{
      width: 40% !important;
  }
  #process_drawing{
    margin-left:-5px;
    width:69% !important;
    margin-top:0;
    shape-outside: circle();
    margin-right:-37px;
  }
  #seppicture{
    margin-top:0px;margin-left: -20px;
    margin-bottom:5px; margin-right:12px;
    shape-outside: circle();
  }
  #clock_drawing{
    margin-top:23px;
    margin-left:-20px;
  }
  .section h1{
    word-break: break-word;

  }
  .scrolledDown{
    background:white;
  }

  #star1 , #star2, #star3, #star4, #star5{
    width:calc(33% - 15px);
  }
  #stars{
    margin-right: -15px;
  }
  .priceblock{
    width:40%;
    margin:10px;
    display: inline-block;
    box-sizing: border-box;
    padding:20px 20px;
    padding-bottom:5px;
  }
  .priceblock .title{
    font-size: 17px;
    font-weight: 500;
  }
  .benefits{
    bottom:10px;
    font-size: 11px;
    left:10px;
  }
  .price_left,.price_right{
    font-size:18px;
  }
   #makkelijk, #moeilijk{
    font-size:13px;
  }
  #sub .section{
    margin: 50px 0;
  }
  .text-left , .text-right{
    margin:20px 30px;
  }
  #header_logo_fixed{
    display: block;
  }
  #phonemenu{
    display: block;
    position:fixed;
    right:25px;
    top:10px;
    height: 30px;
  }
}
