@media only screen and (min-width: 600px) {
  #title{
    font-size: 120px;
  }

  @keyframes moveLeft {
    from {
      margin-left:calc(50%);

    }
    to {
      margin-left:calc(50% - 250px);
    }
  }
  @keyframes moveRight {
    from {
      margin-right:calc(50%);

    }
    to {
      margin-right:calc(50% - 250px);
    }
  }

}
