@media only screen and (max-width: 700px) {
  @keyframes moveLeft {
    from {
      margin-left:calc(200px);
      margin-right: -200px;

    }
    to {
      margin-right: 30px;
      margin-left:calc(30px);
    }
  }
  @keyframes moveRight {
    from {
      margin-left:-200px;
      margin-right:calc(200px);

    }
    to {
      margin-left:30px;
      margin-right:calc(30px);
    }
  }




  #subtitle{
    font-size: 17px;
    padding:0 10%;
    box-sizing: border-box;
    /* max-width: 80%; */
  }
  .mini_icon{
    height: 15px;
  }
  #header{
    text-align: center;
  }
  #header_logo{
    margin-left:10px;
  }
  #header a{
    font-size: 14px;
    margin:0 5px;
    display: none;
  }
  #background, #svg{
    height: 50%;
    opacity: 0.2;
    width:calc(100% - 20px);
    left:10px;
  }
  .samplebox{
    width:170px;
    /* margin-left:5%; */
    height: 160px;
  }
  .samplebox .text{
    font-size: 12px;
  }
  .samplebox .icon{
    height:15px;
    margin: 0 4px;
  }
  .section{
    padding: 0 30px;
  }
  .section h1{
    font-size: 20px;
  }
  .section p{
    font-size: 13px;
  }
  .section{
    max-width: 80%
  }
  .right button{
    margin-left:50%;
  }
  button{
      font-size: 14px;
  }
  #contact button{
    margin:0 2px;
  }
  #samples{
    margin: 50px 0;
    width: 100%;
  }
  #sub{
    padding:0;
  }
  .sectionicon{
      width: 40% !important;
  }
  #process_drawing{
    margin-left:-5px;
    width:69% !important;
    margin-top:0;
    shape-outside: circle();
    margin-right:-37px;
  }
  #seppicture{
    margin-top:0px;margin-left: -20px;
    margin-bottom:5px; margin-right:12px;
    shape-outside: circle();
  }
  #clock_drawing{
    margin-top:23px;
    margin-left:-20px;
  }
  .section h1{
    word-break: break-word;

  }
  .scrolledDown{
    background:white;
  }

  #star1 , #star2, #star3, #star4, #star5{
    width:calc(33% - 15px);
  }
  #stars{
    margin-right: -15px;
  }
  .priceblock{
    width:40%;
    margin:10px;
    display: inline-block;
    box-sizing: border-box;
    padding:20px 20px;
    padding-bottom:5px;
  }
  .priceblock .title{
    font-size: 17px;
    font-weight: 500;
  }
  .benefits{
    bottom:10px;
    font-size: 11px;
    left:10px;
  }
  .price_left,.price_right{
    font-size:18px;
  }
   #makkelijk, #moeilijk{
    font-size:13px;
  }
  #sub .section{
    margin: 50px 0;
  }
  .text-left , .text-right{
    margin:20px 30px;
  }
  #header_logo_fixed{
    display: block;
  }

}
